header {
    background: url('../img/bg.png') no-repeat center center;
    height: 100vh;
    background-size: cover;
    .header-container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        .header-text {
            margin-top: 10%;
            margin-bottom: 10%;
            max-width: 700px;
            text-align: center;
            color: $FontColorWhite;
            p {
                opacity: 0.4;
            }
            .header-button-box {
                display: flex;
                justify-content: center;
                padding: 25px 0;
                width: 100%;
                button {
                    font-size: 20px;
                    margin: 10px;

                    transition: all 1s ease;
                    &:hover {
                        background-color: aliceblue;
                        color: $FontColorLRed;
                    }
                    i {
                        font-size: 20px;
                        line-height: 0;
                        span {
                            font-family: 'Raleway', sans-serif;
                            font-weight: 400;
                            margin: 0 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .header-scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $FontColorLGray;
            margin-top: 30%;
            opacity: 0.4;
            padding: 10px;
            animation: pulse 3s infinite;
            p {
                color: $FontColorWhite;
            }
        }
    }
}