@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    section {
        padding: 5px;
    }
    header {
        height: 100%;
        .menu-container {
            display: none;
        }
        .toogle-menu-container {
            display: flex;
        }
        .header-container {
            height: 100vh;
            .header-text {
                margin-top: 100px;
            }
            .header-scroll {
                margin-top: auto;
            }
        }
        .header-button-box {
            flex-direction: column;
            justify-content: space-between;
            .white-button {
                margin: 50px 0;
            }
            .margin {
                margin-bottom: 10px;
            }
        }
    }

    .icons {
        padding: 0;
        .icons-group {
            display: flex;
            flex-direction: column;
        }
    }

    .info {
        .info-container {
            flex-direction: column;
            .info-text {
                margin-left: auto;
                h2 {}
                .info-group {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .portfolio {
        padding: 0;
        height: 100%;
        .portfolio-box {
            height: 100%;
            flex-direction: column;
            height: 100%;
            .portfolio-box-item {
                margin: 0;
                padding: 0;
                height: 50vh;
                width: 100%;
                &:nth-child(1) {
                    order: 1;
                }
                &:nth-child(2) {
                    order: 2;
                }
                h2 {
                    padding: 20px 0;
                }
            }
            .portfolio-text {
                &:first-child {
                    order: 2;
                }
            }
        }
    }
    .newsletter {
        .newsletter-box {
            .newsletter-input-box {
                input {
                    padding: 15px;
                    min-width: 200px;
                    font-size: 12px;
                }
                .input-button {
                    padding: 10px 20px;
                }
            }
        }
    }
}