.menu {
    width: 100%;
    a {
        color: #FFF;
    }
    ul {
        width: 100%;
        min-height: 90px;
        display: flex;
        align-items: center;
        li {
            border: white;
            margin-top: 10px;
            padding: 10px;
            &:nth-child(1) {
                font-size: $SectionHeaderFonSize;
            }
            &:nth-child(2) {
                margin-left: auto;
            }
            a {
                transition: all 0.3s ease;
                &:hover {
                    background-color: white;
                    color: $FontColorLRed;
                    padding: 10px;
                    border-bottom: 5px solid $FontColorLRed;
                }
            }
        }
    }
}