$baseFontSize:14px;
$LogoFontSize:24px;
$ButtonFonSize:15px;
$SectionHeaderFonSize:34px;
$IconHeaderFonSize:20px;
$FontColorWhite:#ffffff;
$FontColorLGray:#82848c;
$FontColorGray:#777b87;
$FontColorLRed:#cb0035;
$BgColorLGrey:#f6f6f6;